@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<form asp-action="Privacy" method="post">
    <input class="form-control" name="message" placeholder="Enter notif message" />
    <input class="btn btn-primary btn-lg" type="submit" placeholder="Enter notif message" />

</form>